
@font-face {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    src:url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap%27');
  }


@font-face {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    src:url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
  }
  


h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 18px;
    margin-bottom: 1.5rem;
    color: #FF0000;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 1.5rem;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 1.5rem;
}

li {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 1.5rem;
}

.chapter li.chapter-item {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 1.5rem;
}


.chapter li.part-title {
    color: #333333;
    font-size: 15px;
    line-height: 18px;
}

.light {
    --sidebar-bg: #f4f7f9;
    --sidebar-fg: #333333;
    --sidebar-active: #333333;
    --fg: #3b454e;
}

/* .sidebar {
    background-color: #8899a8;
} */

/* 8899a8 */
