<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<style>
body {
    font-family: 'Lato';font-size: 16px;
}
</style>
</head>
<body>

</body>
</html>
